@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato:ital,wght@1,300&family=Prompt:wght@300&display=swap');

*{
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  color: rgb(0, 0, 0);
  padding: 70px 0px;
}
